<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridgingapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="nxgJHAV9Agbypr4Uv760" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="mWBflFbZs6RX0hTjvUo1Bw" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="IOIrcAopPeSWmLRf7dhJ/9Fn2tHCBHwn39yK3BjPByqEs4x3qR8ts507hYB6ALsTXTcQBczkEgRs/Um4AU3PgMnz60P7ySD2gNktXTzjMl4bNIyHb7XWfXIG8oc+1o0yYf5bYSCF0Z4+N+hL+/SdorzAIaUGmxrzrxWxYFFuyCuI7y4kwTYdW8um4L79M+UEmducpE/bsYbimAsIrQk3g/N089zV5wV8QcIT/3iqt7ivJHJNRSU1egFz8rSwndPTZX/sAauapcIBV8xMmBYd0N+0E+XfQ1p9/laMz8Jv1L8XF17h13GF8dKsOujv1jp7gsbxAXQhtw6o15XYN8ZaJwRzmCFS37LBCcpCFCX4V7ADeh2t5I3t+MyU4m9fxMw2Gu/MO6YPcPD1AJgyoQbpbC/F8RlnNXnm9EOD/Jq9S2X+0zYtxtWmXMlsHr6Z8czNoYvdv2FK2JqNOC9lH20gj7k72ayuHodgGbFw+Lz4MFoH5fkXNG6x49JZA7S/+JDTMySAQQuWb93aWjsqAKjKovwYO6zJC9kNsZQB6zN8EK9T5G86FQQyCooRlDDFG7JemgToUo5Q0OqGs0VUuHV8b55lcZkGS3xJ9JXXfHYPMRGykgEC9eYF6sOwk0VHTdlzravA1QaEphZg43bQdGhuOMQaxBC1rLOm00hnDKMJINY="/>

        <service android:exported="false" android:label="@string/app_name" android:name="com.here.android.mpa.service.MapService">
            <intent-filter>
                <action android:name="com.here.android.tutorial.MapService">
                </action>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".MapActivity"></activity>
    </application>

</manifest>